# Ignore the settings for the build system.
/build.properties

# Ignore all files in the targets folders.
/build/
/targets/

# Ignore the local Eclipse settings.
/.settings

# Ignore all compiled python modules.
*.pyc
